<!doctype html>
<html lang="en">
{% extends 'jobs/navigation.html' %}
{% load static %}
{% block content %}


          <div class="aboutMe__page">
              <div class="aboutMe__container">
                  <div class="aboutMe__Title">About Me</div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='Early Life' onclick="setVisibility('myDIV');";> 
                    <div id ="myDIV" class="aboutMe__sectionInfo">
                          I was born in Sana'a, Yemen. I grew up there until I was 18.
                          Driven by the necessity for change, the well to face new challenges,
                          my curiosity to get to know new cultures & people
                          and the need to discover the world, I decided to learn german and travel to
                          Germany to discover the possibilities.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                      <!-- <div id="myDIV" class="aboutMe__sectionTitle">Moved to Saarbrücken</div> -->
                      <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='Moving to Saarbrücken' onclick="setVisibility('myDIV2');";> 
                      <div id ="myDIV2" class="aboutMe__sectionInfo">
                      At the beginning of my journey I ended up starting my college in the university of Saarland,
                      where I had to finish Physics, Chemistry, Maths in the german language. I stayed there for
                      around 18 Months and afterwards I decided to keep widening my horizon and travelled to Berlin
                      after getting an acceptance to study Industrial Engineering and Management in the TU-Berlin.</div>

                  </div>
                  <div class="aboutMe__section">
                   <!-- <div id="myDIV" class="aboutMe__sectionTitle">Moved to Saarbrücken</div> -->
                   <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='Moving to Berlin'onclick="setVisibility('myDIV3');";> 
                   <div id ="myDIV3" class="aboutMe__sectionInfo">
                          After moving to Berlin, I instantly recognized it's multiculturalism, diversity and
                          beauty and I knew this is the place I should be at to find myself, self-develop,
                          and build my own business one day :).
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='University'onclick="setVisibility('myDIV4');";> 
                    <div id ="myDIV4" class="aboutMe__sectionInfo">
                          After finishing my college in the University of Saarland, I applied for a place
                          in TU-Berlin for the major of Industrial Engineering & Management.
                          There, I took subjects like: Statistics, Linear Algebra, Analysis,
                          Marketing & Production Management, Innovation and Organisation Management,
                          Mechanics, etc. After a while, I noticed a repeated pattern of learning things
                          in a way which make all the retained information obsolete after some time. We
                          were learning how to calcualte things and how to solve issues with the traditional 
                          pen & paper way. However, in all companies were I went and worked at, there were already
                          programs solving the same problems we were still solving on paper. Even the employees were taught
                          how to use these programs and not answer some theoretical questions regarding of how to calcualte 
                          the mean, median, and mode of specific data sets. Therefore, I delved then into deep thinking of 
                          what is going to be signigicant for the future and I also listend to the child within, the one
                          who used to love playing with computers and always makes some fun things out of it's infinite horizon of
                          possibilities. Therefore, I made then a very life-changing decision to start a new major, Applied Computer Science. 

                          Hereafter, motivated and highly driven with the idea that I'll be able to implement any idea I 
                          get and make something functional out of them where people can utilize and in a way make life easier and make my vision a reality.
                          <br><br>
                          From there on my journey in the HTW-Berlin began. Fascinated by the infinite spectrum
                          of computer science, I felt for the first time that I indeed found myself studying the right
                          major and I knew I can make anything with the knowledge I am gaining during this new journey.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" 
                            value='Working in the Customer Support Section'onclick="setVisibility('myDIV5');";> 
                    <div id ="myDIV5" class="aboutMe__sectionInfo">
                          During my studies I had to work to keep financing myself. My strong english helped me big time
                          to find different kind of jobs in call centers. By the beginning of it I worked with Sykes
                          and there it was necessary to keep a friendly tone all the time and try my best to keep my cool
                          no matter how the situation escalated. Besides that, we had to offer solutions and give our best to
                          keep the customer satisfied.
                          <br><br>Afterwards, I worked at Bosch Service Solutions for around 1
                          whole year, where I had to speak with customers in Arabic, English, and German. I worked with
                          with at least 6 others nationalities, where we had to cover England,
                          France, Germany, Poland, Switzerland, Turkey and UAE.

                          During this work I acquired better communication skills and work under high stress levels.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" 
                            value='Working in the IT Section'onclick="setVisibility('myDIV6');";> 
                     <div id ="myDIV6" class="aboutMe__sectionInfo">
                            Now, as I started my Computer Science studies, I wanted also to start
                            working something which is somehow relevant to my studies. Therefore,
                          I started applying and got my first Job with BMG Rights and Management
                          as First Level Support. There I learned so many things about Networking,
                          problem solving, and communication, hence I had to stay in constant contact
                          with my colleagues in case they need any kind of support.
                          We didn't only cover Berlin, we were also responsible for Brazil,
                          Netherlands, Sweden, Spain, UK and the USA. We overtook tasks like
                          system and programs deployment. ...

                          Currently, I am working also an IT at Innocean Worldwide Europe GmbH.
                          However, hence my passion & most motivation lies in becoming a very good programmer
                          in the future, I started visiting so many courses besides the courses I already finished
                          in my university. I am now applying to start developing all kinds of things.
                          My goal after master web-development is to also start to develop apps for me to
                          be able to make any idea into reality as soon as it
                      </div>
                  </div>

              </div>
          </div>
      {% endblock %}
