<!doctype html>
<html lang="en">
<title>About me</title>

{% extends 'jobs/navigation.html' %}
{% load static %}
<!-- {% load i18n %} -->
{% block content %}

<title>About me</title>


          <div class="aboutMe__page">
              <div class="aboutMe__container">
                  <div class="aboutMe__Title">About Me</div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" 
                     value='Early Life' onclick="setVisibility('myDIV');";> 
                    <div id ="myDIV" class="aboutMe__sectionInfo">
                          I was born in Sana'a, Yemen. I grew up there until I was 18.
                          Driven by the necessity for change, the well to face new challenges,
                          my curiosity to get to know new cultures & people
                          and the need to discover the world, I decided to learn german and travel to
                          Germany to discover the possibilities.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                      <!-- <div id="myDIV" class="aboutMe__sectionTitle">Moved to Saarbrücken</div> -->
                      <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='Moving to Saarbrücken' onclick="setVisibility('myDIV2');";> 
                      <div id ="myDIV2" class="aboutMe__sectionInfo">
                      At the beginning of my journey I ended up starting my college in the university of Saarland,
                      where I had to finish Physics, Chemistry, Maths in the german language. I stayed there for
                      around 18 Months and afterwards I decided to keep widening my horizon and travelled to Berlin
                      after getting an acceptance to study Industrial Engineering and Management in the TU-Berlin.</div>

                  </div>
                  <div class="aboutMe__section">
                   <!-- <div id="myDIV" class="aboutMe__sectionTitle">Moved to Saarbrücken</div> -->
                   <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='Moving to Berlin'onclick="setVisibility('myDIV3');";> 
                   <div id ="myDIV3" class="aboutMe__sectionInfo">
                          After moving to Berlin, I instantly recognized it's multiculturalism, diversity and
                          beauty and I knew this is the place I should be at to find myself, self-develop,
                          and build my own business one day :).
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" value='University'onclick="setVisibility('myDIV4');";> 
                    <div id ="myDIV4" class="aboutMe__sectionInfo">
                          After finishing my college in the University of Saarland, I applied for a place
                          in TU-Berlin for the major of Industrial Engineering & Management.
                          There, I took subjects like: Statistics, Linear Algebra, Analysis,
                          Marketing & Production Management, Innovation and Organisation Management,
                          Mechanics, etc. After a while, I noticed a repeated pattern of learning things
                          in a way which make all the retained information obsolete after some time. We
                          were learning how to calcualte things and how to solve issues with the traditional 
                          pen & paper way. However, in all companies were I went and worked at, there were already
                          programs solving the same problems we were still solving on paper. Even the employees were taught
                          how to use these programs and not answer some theoretical questions regarding of how to calcualte 
                          the mean, median, and mode of specific data sets. Therefore, I delved then into deep thinking of 
                          what is going to be signigicant for the future and I also listend to the child within, the one
                          who used to love playing with computers and always makes some fun things out of it's infinite horizon of
                          possibilities. Therefore, I made then a very life-changing decision to start a new major, Applied Computer Science. 

                          Hereafter, motivated and highly driven with the idea that I'll be able to implement any idea I 
                          get and make something functional out of them where people can utilize and in a way make life easier and make my vision a reality.
                          <br><br>
                          From there on my journey in the HTW-Berlin began. Fascinated by the infinite spectrum
                          of computer science, I felt for the first time that I indeed found myself studying the right
                          major and I knew I can make anything with the knowledge I am gaining during this new journey.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" 
                            value='Working in the Customer Support Section'onclick="setVisibility('myDIV5');";> 
                    <div id ="myDIV5" class="aboutMe__sectionInfo">
                          During my studies I had to work to keep financing myself. My strong english helped me big time
                          to find different kind of jobs in call centers. By the beginning of it I worked with Sykes
                          and it was necessary there to keep a friendly tone at all times and stay cool
                          no matter how the situation escalated. Besides that, we had to offer solutions and give our best to
                          keep the customer satisfied.
                          <br><br>Afterwards, I worked at Bosch Service Solutions for around 1
                          whole year, where I had to speak with customers in Arabic, English, and German. I worked with
                          with at least 6 others nationalities, where we had to cover England,
                          France, Germany, Poland, Switzerland, Turkey and UAE.

                          During this job I acquired better communication skills and a more efficient way to manage stress
                          under high-pressure work environments.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" 
                            value='Working in the IT Section'onclick="setVisibility('myDIV6');";> 
                     <div id ="myDIV6" class="aboutMe__sectionInfo">
                            Now, as I started my Computer Science studies, I wanted also to start
                            working something which is somehow relevant to my studies. Therefore,
                          I started applying and got my first Job with BMG Rights and Management
                          as First Level Support. I learned there about Networking,
                          problem analysis and solving, and worked alot on my communication skills. 
                          During the job a constant contact
                          with the other colleagues was essential, I had to be present, collected, and calm whenever an assistance were required.
                          We, me and the IT-Team,  didn't only cover Berlin, we were also responsible for Brazil,
                          Netherlands, Sweden, Spain, UK and the USA. We overtook tasks like documatations using confluence,
                          creating of tickets using JIRA, deployment & writing of policing using JAMF (for mac) and SilverMonkey (for windows 10), 
                          Active Directory for the management of all users connected to the network and their access to different resources within
                          the servers, besides that we also used OKTA for identity and access management.
                        <br><br>
                          Currently, I am working also as an IT at Innocean Worldwide Europe GmbH.
                          However, hence my passion & most motivation lies in becoming a very good programmer
                          in the future, I started visiting so many courses besides the courses I already finished
                          in my university. I am now applying to start developing all kinds of things.
                          My goal after mastering web-development is to also start to develop apps for me to
                          be able to make all my ideas into reality in a very fast time and to make it as best as possible. 
                          To become master web-development and become the best version of myself in it
                          is to keep practicing every minute, hour, and day. I also need keep learning from others and keep discovering the things
                          that I still don't know.
                      </div>
                  </div>
                  <div class="aboutMe__section">
                    <input type=button name=type id='bt1' class="aboutMe__sectionTitle" 
                            value='Web and App Development'onclick="setVisibility('myDIV7');";> 
                     <div id ="myDIV7" class="aboutMe__sectionInfo">
                         My future goals are strictly connected with the ability to write clean and efficient code to develop 
                         the best websites and apps in a short period of time. Therefore, I am currenly trying to code and to visit courses 
                         whenever I am not at work or doing university related studying. This is why I find it crucial to find the right 
                         job which in a way links my goals with what I do all day long. Not only it is so much fun, but also encouraging and 
                         motivating, hence it gives me the feeling I am always getting a step closer to achieve my dreams.
                        <br><br>
                         I already wrote two non-reactive websites using <strong><em>ReactJS</em></strong> and <strong><em>NodeJS</em></strong>, one during my free time and another during my studies. 
                         I chose these two languages, because their popularity have been on the rise in the last couple of years.
                         Furthermore, I developed a backend with <strong><em>Java</em></strong> using Spring MVC, Spring Boot. At the end, I sub-divided the services using
                         the microservice architecture pattern and utilized Eureka to hold the information about all client-service applications. 
                         <br>Ultimately, I also chose to learn <strong><em>Django</em></strong>, thus it makes it easy to reach fast results, 
                         it's secure as well and with python one can do some 
                         complex calculations, which can be very benefical if required. The fact that also Instagram and Spotify 
                         were built using Django motivated me to learn it too and this led me to build my first reactive website, which is the
                         portfolio you're seeing :) 
                      </div>
                  </div>
              </div>
          </div>
            <script>
    function setVisibility(id) {
        if(document.getElementById('bt1').value=='Early Life' ){
        document.getElementById('bt1').value = 'Early Life ';
        document.getElementById(id).style.display = 'inline-block';
        }

        else{
        document.getElementById('bt1').value = 'Early Life';
        document.getElementById(id).style.display = 'none';
        }
    }
    </script>
      {% endblock %}
