<!doctype html>
<html lang="en">
<title>Certifications</title>

{% extends 'jobs/navigation.html' %}
{% load static %}
<!-- {% load i18n %} -->
{% block content %}
<link href="{% static 'css/lightbox.css' %}" rel="stylesheet" />
<script src="{% static 'js/lightbox.js' %}"></script>
<div class="certifications__page">
    <div class="certifications__container">
        <div class="certifications__title">
            Web-Development Certifications
        </div>
        <div class="certifications__all">
            <div class="certifications__row">
                <div class="certification">
                    <a href="{% static 'certificate_fullstack.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            Full Stack and Front End
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail" 
                        src="{%static 'certificate_fullstack.png' %}" 
                        alt="fullstack certificate"> 
                    </a>

                </div>
                <div class="certification">
                    <a href="{% static 'certificate_web_design.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            User Experience for Web Design
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{% static 'certificate_web_design.png' %}"
                             alt="Web Design certificate">
                    </a>
                </div>
            </div>
            <div class="certifications__row">
                <div class="certification">
                    <a href="{% static 'certificate_ux_foundations.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            UX-Foundations: Accessibility
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{%static 'certificate_ux_foundations.png' %}"
                             alt="UX-foundations certificate">
                    </a>
                </div>
                <div class="certification">
                    <a href="{% static 'certificate_testDriver_django.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            Test-Driven Development in Django
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{% static 'certificate_testDriver_django.png' %}"
                             alt="Django Test driven certificate">
                    </a>
                </div>
            </div>
            <div class="certifications__row">
                <div class="certification">
                    <a href="{% static 'certificate_learn_django.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            Learning Django
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{% static 'certificate_learn_django.png' %}"
                             alt="Learn django Certificate">
                    </a>
                </div>
                <div class="certification">
                    <a href="{% static 'certificate_portfolio_django.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            Create a django portfolio
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{% static 'certificate_portfolio_django.png' %}"
                             alt="portfolio django certificate">
                    </a>
                </div>
            </div>
            <div class="certifications__row">
                <div class="certification">
                    <a href="{% static 'certificate_sql_2017.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            Learning SQL Programming
                            <br>
                            Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{% static 'certificate_sql_2017.png' %}"
                             alt="Learn SQL certificate">
                    </a>
                </div>
                <div class="certification">
                    <a href="{% static 'certificate_Stack_React_Node_ecommerce.png' %}" data-lightbox="unique">
                        <div class="certification__title">
                            MERN Stack React Node Ecommerce
                            <br>
                            from Scratch to Deployment
                            <br>Certification
                        </div>
                        <img class="certification__thumbnail"
                             src="{% static 'certificate_Stack_React_Node_ecommerce.png' %}"
                             alt="Create Ecommerce using React Certificate">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
</script>
{% endblock %}